#root {
  margin: 0 ;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

button {
  margin: 0.5rem;
}

input {
  font-family: "Lucida Grande",Verdana;
}

p {
  margin: 0;
}

section  {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  border-radius: 10px;
  gap: 5px;
}


.btn-pdf {
  background-color: var(--accentColor);
  color: var(--colorOne);
  border: none;
  border-radius: 3px;
}

.displayCV {
  height: 90svh;
  overflow-y: scroll;
}

.form-field {
  display: flex;
  flex-direction: column;
}
.hover {
  background-color: blue;
}

.main {
  height: 90svh;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 2fr 4fr;
  gap: 1rem;
}

.nav-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.nav-btn {
  display: flex;
  width: fit-content;
  margin-right: 0;
}

.color-edit {
  display: flex;
  align-items: center;
}

.color-sample {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.color-picker {
  justify-self: center;
  
}

.edit {
  padding-right: 3pt;
}

.edit,
.nav {
   padding-top: 1rem;
   padding-left: 3pt;
   overflow-y: scroll;
}

.timeline-section {
  display: flex;
  flex-direction: column;
}


.btn-delete {
  width: fit-content;
  position: relative;
  margin-top: 10pt;
  left: 85%;
}
.fa-trash {
  color: var(--accentColor);
}

.btn-add-new-timeline {
  border: none;
  background-color: var(--accentColor);
  color: var(--colorOne);
  margin: 0;
  align-self: end;
}

.edit-timelines-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-timeline-form {
  display: flex;
  flex-direction: column;
}
.add-timeline-form > button {
  width: fit-content;
  align-self: end;
  margin: 0;
  margin-top: 10pt;
}

.add-new-btn-container {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;

}

.accordion-collapsed {
  display: flex;
  justify-content: space-between;
}
.accordion-section {
  box-shadow: 2px 10px 35px 1px rgba(153,153,153,0.3);
}



section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
section {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

