#root {
  margin: 0 ;
  padding: 2rem;
  width: 100%;
}

p {
  margin: 0;
}

.main {
  height: 90svh;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 2fr 4fr;
  gap: 1rem;
}

.btn-pdf {
  background-color: var(--accentColor);
  color: var(--colorOne);
  border: none;
  border-radius: 3px;
}

section  {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 10px;
  gap: 5px;
}

button {
  margin: 0.5rem;
}

.hover {
  background-color: blue;
}

.displayCV {
  height: 90svh;
  overflow: scroll;
}

.nav-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.color-edit {
  display: flex;
  align-items: center;
}

.color-sample {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.color-picker {
  justify-self: center;
  
}

.edit,
.nav {
   padding-top: 1rem;
   padding-left: 3pt;
}

