:root{
    --accentColor:#FDD71B;
    --colorOne: #474545;
    --colorTwo: white
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
  }

@font-face {
    font-family: 'PoppinsBold';
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'PoppinsLight';
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: 'PoppinsItalic';
    src: url(../fonts/Poppins-Italic.ttf);
}

.base {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--colorOne);
    font-family: 'Poppins';
    font-size: small;
    width: 100%;
    /* overflow-wrap:normal; */
}

hr {
    background-color: var(--accentColor);
    border: none;
    height: 2px;
}

.leftContainerDisplay {
    padding: 3px;
    display: flex;
    flex-direction: column;
    background-color: var(--colorOne);
    position: relative;
    z-index: 30;
    color: var(--colorTwo);
    margin-left: 5pt;
}

.cv-description {
    font-family: 'PoppinsLight';
    margin: 10pt;
}
.cvImage {
    border: 5px solid var(--colorTwo);
    max-width: 9rem;
    margin: 2rem 0;
}

.basic-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.icon-info {
    display: flex;
}

.icon-info>.fa-solid {
    background-color: var(--accentColor);
    color: var(--colorOne);
    padding: 2px;
    border-radius: 2px;
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 3pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlights {
    display: flex;
    flex-direction: column;
}

.highlight {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

.highlight>li {
    margin-left: 1rem;
}

.rightContainerDisplay {
    background-color: var(--colorTwo);
    color: var(--colorOne);
    padding: 2rem 10pt;
    padding-left: 15pt;
    padding-top: 40pt;
}

.heading-info {
    text-align: center;
    position: relative;
    z-index: 20;
    font-family: 'PoppinsBold';
}

.heading-info::before {
    position: absolute;
    z-index: -1;
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    width: 80%;
    scale: 1.5;
    background-color: var(--accentColor);
}

.bold-font {
    font-family: 'PoppinsBold';
}

.italic-font {
    font-family: 'PoppinsItalic';
}


/* CHANGE THISSSS */
ul {
    padding: 0;
}