.PDFViewer {
    height: 90svh;
    width: 95svw;
    position: absolute;
    border: none;
}

.backBtn {
    position: absolute;
    z-index: 99;
    top: 1pt;
    background-color: var(--accentColor);
    color: var(--colorOne);
    border: none;
    border-radius: 3px;
}