#pdf {
    position: absolute;
    z-index: 50;
}

.PDFViewer {
    height: 90svh;
    width: 90svw;
}

.pdf-down {
    background-color: red;
    position: relative;
    z-index: 99;
    top: 0;
    right: 0;
}

