.PDFViewer {
    height: 95svh;
    width: 95svw;
    position: absolute;
    border: none;
}

.cvViewBtn {
    background-color: var(--accentColor);
    color: var(--colorOne);
    border: none;
    border-radius: 3px;
}

.backBtn {
    position: absolute;
    z-index: 99;
    top: 1pt;
    left: 3pt;
}

.downloadCvBtn {
    position: absolute;
    z-index: 99;
    top: 1pt;
    right: 3pt;
    text-decoration: none;
}